<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>HC</string>
	<key>connections</key>
	<dict>
		<key>142749E1-4508-48B4-B2B4-FD002B9A4B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>621354A5-265D-450D-A788-8AB2AE739137</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BFC5E240-14BC-41F9-8682-9152983EDB11</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FE147A8-83D5-4258-9EA7-9243A9E5EA27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67833930-5A68-4CDC-ABD7-70F9AE7D45C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>472674D9-B19D-496D-8231-721689FCF5E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>165E26DD-06DD-4E6D-A9CC-3F43F8B98A0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49B9BD28-2350-4642-A08E-5DBFCBF7421A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6964A3B-0C40-4C4B-85C4-587BE6630A15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67833930-5A68-4CDC-ABD7-70F9AE7D45C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD6922E6-9860-4D86-9556-930856D78720</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>142749E1-4508-48B4-B2B4-FD002B9A4B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84546B06-77EC-4DCF-982E-675A599A329B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7791453-3667-45DC-BC79-7E309E81F64B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A4762308-6E8B-4F0D-8ADE-BB9DE5272BDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C97914B3-8D41-4854-A8EE-25C94A5ED0BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD6922E6-9860-4D86-9556-930856D78720</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>472674D9-B19D-496D-8231-721689FCF5E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C8299EBA-6F55-4EB6-86FA-A7B31CF71B4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6964A3B-0C40-4C4B-85C4-587BE6630A15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F0DE48A-E977-4EF8-9E26-E247B7A1764D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D13A40B4-DD92-491B-AA37-E194E0C8ABC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>621354A5-265D-450D-A788-8AB2AE739137</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5FC7E336-3000-4CFE-B2C7-F4E050909449</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4058AE6E-5AAA-4B02-9117-8AF2B6612B91</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D308A25B-10CA-4919-8CB0-CBFC0F46A898</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FCBF2D61-498C-402A-9181-353621746D85</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F127D165-08E0-4F36-A5B3-32685274843F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C97914B3-8D41-4854-A8EE-25C94A5ED0BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84546B06-77EC-4DCF-982E-675A599A329B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2B5CAECF-1300-492E-A7FD-2461B864E0ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D308A25B-10CA-4919-8CB0-CBFC0F46A898</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4762308-6E8B-4F0D-8ADE-BB9DE5272BDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Connor Hipps</string>
	<key>description</key>
	<string>Search by list filter for HC Looker data. 📊</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>HC Looker Data</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

# Define an array of URLs
urls=(
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Kudakwashe+Zafevere"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Nazilya+Gismatullina"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Paulina+Fraser"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Neha+Sharma"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Samod+Kareem"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Briam+Rojas"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Korede+Osunlalu"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Josefh+Chavarria"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+month&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Abdulazeez+Akan"
)

# Iterate through the URLs and open each in a new tab
for url in "${urls[@]}"; do
  /usr/bin/open -a "$browser" "$url"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F0DE48A-E977-4EF8-9E26-E247B7A1764D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash


# Define an array of URLs
urls=(
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Kudakwashe+Zafevere"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Nazilya+Gismatullina"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Paulina+Fraser"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Neha+Sharma"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Samod+Kareem"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Briam+Rojas"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Korede+Osunlalu"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Josefh+Chavarria"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Abdulazeez+Akan"
)

# Iterate through the URLs and open each in a new tab
for url in "${urls[@]}"; do
  /usr/bin/open -a "$browser" "$url"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D13A40B4-DD92-491B-AA37-E194E0C8ABC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lastmonth</string>
						<key>outputlabel</key>
						<string>lastmonth</string>
						<key>uid</key>
						<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lastweek</string>
						<key>outputlabel</key>
						<string>lastweek</string>
						<key>uid</key>
						<string>621354A5-265D-450D-A788-8AB2AE739137</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>lasttwoweeks</string>
						<key>outputlabel</key>
						<string>lasttwoweeks</string>
						<key>uid</key>
						<string>4058AE6E-5AAA-4B02-9117-8AF2B6612B91</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>capture</string>
						<key>outputlabel</key>
						<string>capture</string>
						<key>uid</key>
						<string>FCBF2D61-498C-402A-9181-353621746D85</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>filtertest</string>
						<key>outputlabel</key>
						<string>filtertest</string>
						<key>uid</key>
						<string>F127D165-08E0-4F36-A5B3-32685274843F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C6964A3B-0C40-4C4B-85C4-587BE6630A15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash


# Define an array of URLs
urls=(
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Kudakwashe+Zafevere"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Nazilya+Gismatullina"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Paulina+Fraser"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Neha+Sharma"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Samod+Kareem"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Briam+Rojas"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Korede+Osunlalu"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Josefh+Chavarria"
"https://looker.a8c.com/dashboards/477?Report+Date+Start=2+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=Abdulazeez+Akan"
)

# Iterate through the URLs and open each in a new tab
for url in "${urls[@]}"; do
  /usr/bin/open -a "$browser" "$url"
done</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5FC7E336-3000-4CFE-B2C7-F4E050909449</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Last Month","arg":"lastmonth","subtitle":"Queries the Last Month"},{"title":"Last Week","arg":"lastweek","subtitle":"Queries the Last Week"},{"title":"Last 2 Weeks","arg":"lasttwoweeks","subtitle":"Queries the Last 2 Weeks"},{"title":"Capture URLs 📷","arg":"capture","subtitle":"Captures ALL URLs in The Active Browser"},{"title":"Variable Testing 🧪","arg":"variable","subtitle":"Test custom variables added to the workflow."},{"title":"Filter Test 🧪","arg":"filtertest","subtitle":"Test filtering for months"}]</string>
				<key>keyword</key>
				<string>looker</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Opens All Looker Reports for HCs 📊</string>
				<key>title</key>
				<string>HC Looker Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>49B9BD28-2350-4642-A08E-5DBFCBF7421A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
    set tabList to tabs of front window
    set urlList to {}
    repeat with aTab in tabList
        set end of urlList to URL of aTab
    end repeat
end tell

set {TID, text item delimiters} to {text item delimiters, return}
set urlList to urlList as text
set text item delimiters to TID

set the clipboard to urlList</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84546B06-77EC-4DCF-982E-675A599A329B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>All URLs for active browser tabs have been captured.</string>
				<key>title</key>
				<string>URLs Captured to Clipboard! 📷</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E7791453-3667-45DC-BC79-7E309E81F64B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:todos_path}/{var:filename}.txt</string>
				<key>filetext</key>
				<string>- {var:task}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>472674D9-B19D-496D-8231-721689FCF5E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>Added task to {var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>165E26DD-06DD-4E6D-A9CC-3F43F8B98A0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Yes","arg":"yes","subtitle":"All URLs for active browser tabs will be captured. 📷"},{"title":"No","arg":"no","subtitle":"All URLs for active browser tabs will NOT be captured. ❎"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Are you sure you wish to capture all URLs?</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A4762308-6E8B-4F0D-8ADE-BB9DE5272BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No URLs were captured to the clipboard.</string>
				<key>title</key>
				<string>Action Cancelled!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2B5CAECF-1300-492E-A7FD-2461B864E0ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C97914B3-8D41-4854-A8EE-25C94A5ED0BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Split the full name of hc1 into first and last names
first_name_hc1=$(echo "$hc1" | cut -d' ' -f1)
last_name_hc1=$(echo "$hc1" | cut -d' ' -f2)

# Check if both environment variables for hc1 are set and not empty
if [ -n "$first_name_hc1" ] &amp;&amp; [ -n "$last_name_hc1" ]; then
    # Create the URL with the appended first and last names for hc1
    url_hc1="https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc1}+${last_name_hc1}"

    # Open the URL for hc1 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc1\""
else
    # Handle the case where first_name or last_name for hc1 is empty
    echo "First name or last name for hc1 is missing."
fi

# Split the full name of hc2 into first and last names
first_name_hc2=$(echo "$hc2" | cut -d' ' -f1)
last_name_hc2=$(echo "$hc2" | cut -d' ' -f2)

# Check if both environment variables for hc2 are set and not empty
if [ -n "$first_name_hc2" ] &amp;&amp; [ -n "$last_name_hc2" ]; then
    # Create the URL with the appended first and last names for hc2
    url_hc2="https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc2}+${last_name_hc2}"

    # Open the URL for hc2 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc2\""
else
    # Handle the case where first_name or last_name for hc2 is empty
    echo "First name or last name for hc2 is missing."
fi

# Split the full name of hc3 into first and last names
first_name_hc3=$(echo "$hc3" | cut -d' ' -f1)
last_name_hc3=$(echo "$hc3" | cut -d' ' -f2)

# Check if both environment variables for hc3 are set and not empty
if [ -n "$first_name_hc3" ] &amp;&amp; [ -n "$last_name_hc3" ]; then
    # Create the URL with the appended first and last names for hc3
    url_hc3="https://looker.a8c.com/dashboards/477?Report+Date+Start=last+week&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc3}+${last_name_hc3}"

    # Open the URL for hc3 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc3\""
else
    # Handle the case where first_name or last_name for hc3 is empty
    echo "First name or last name for hc3 is missing."
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C08611E-37B1-406A-9C9B-142B47BEE530</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D308A25B-10CA-4919-8CB0-CBFC0F46A898</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","arg":"home","subtitle":"Stuff relating to home"},{"title":"Work","arg":"work","subtitle":"Work-related tasks"},{"title":"Waiting For","arg":"waitingfor","subtitle":"What you waiting, what you waiting foooor?"}]</string>
				<key>keyword</key>
				<string>vtodo</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Which list would you like to use?</string>
				<key>title</key>
				<string>Choose a to-do list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>1FE147A8-83D5-4258-9EA7-9243A9E5EA27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Append</string>
						<key>uid</key>
						<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open File</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AD6922E6-9860-4D86-9556-930856D78720</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>67833930-5A68-4CDC-ABD7-70F9AE7D45C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Last Month 🧪","arg":"last+month","subtitle":"Queries the Last Month"},{"title":"Last Week 🧪","arg":"last+week","subtitle":"Queries the Last Week"},{"title":"Last 2 Weeks 🧪","arg":"2+week","subtitle":"Queries the Last 2 Weeks"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Opens All Looker Reports for HCs 📊</string>
				<key>title</key>
				<string>HC Looker Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Split the full name of hc1 into first and last names
first_name_hc1=$(echo "$hc1" | cut -d' ' -f1)
last_name_hc1=$(echo "$hc1" | cut -d' ' -f2)

# Check if both environment variables for hc1 are set and not empty
if [ -n "$first_name_hc1" ] &amp;&amp; [ -n "$last_name_hc1" ]; then
    # Create the URL with the appended first and last names for hc1
    url_hc1="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc1}+${last_name_hc1}"

    # Open the URL for hc1 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc1\""
else
    # Handle the case where first_name or last_name for hc1 is empty
    echo "First name or last name for hc1 is missing."
fi

# Split the full name of hc2 into first and last names
first_name_hc2=$(echo "$hc2" | cut -d' ' -f1)
last_name_hc2=$(echo "$hc2" | cut -d' ' -f2)

# Check if both environment variables for hc2 are set and not empty
if [ -n "$first_name_hc2" ] &amp;&amp; [ -n "$last_name_hc2" ]; then
    # Create the URL with the appended first and last names for hc2
    url_hc2="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc2}+${last_name_hc2}"

    # Open the URL for hc2 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc2\""
else
    # Handle the case where first_name or last_name for hc2 is empty
    echo "First name or last name for hc2 is missing."
fi

# Split the full name of hc3 into first and last names
first_name_hc3=$(echo "$hc3" | cut -d' ' -f1)
last_name_hc3=$(echo "$hc3" | cut -d' ' -f2)

# Check if both environment variables for hc3 are set and not empty
if [ -n "$first_name_hc3" ] &amp;&amp; [ -n "$last_name_hc3" ]; then
    # Create the URL with the appended first and last names for hc3
    url_hc3="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc3}+${last_name_hc3}"

    # Open the URL for hc3 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc3\""
else
    # Handle the case where first_name or last_name for hc3 is empty
    echo "First name or last name for hc3 is missing."
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>last+month</string>
						<key>outputlabel</key>
						<string>last+month</string>
						<key>uid</key>
						<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>last+week</string>
						<key>outputlabel</key>
						<string>last+week</string>
						<key>uid</key>
						<string>621354A5-265D-450D-A788-8AB2AE739137</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>2+week</string>
						<key>outputlabel</key>
						<string>2+week</string>
						<key>uid</key>
						<string>BFC5E240-14BC-41F9-8682-9152983EDB11</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>142749E1-4508-48B4-B2B4-FD002B9A4B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:todos_path}/{var:filename}.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C8299EBA-6F55-4EB6-86FA-A7B31CF71B4B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># An Alfred Workflow for Quick Access to HC Looker Data 📊

README information to follow. In the meantime, enjoy AI-generated picture of a kitten. 

![Cat Image](cat.png)

## Notes/FAQ

1. The workflow is currently only available for use with the **Brave browser**, but it can be adapted upon request. 
2. This is very much a beta product: further testing is needed to ensure that everything works as expected, every time. 
3. "Does it work well enough to use in my day-to-day work?" → Yes, it does! 😊 I use it almost every day in some way, shape, or form.</string>
	<key>uidata</key>
	<dict>
		<key>142749E1-4508-48B4-B2B4-FD002B9A4B6D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>165E26DD-06DD-4E6D-A9CC-3F43F8B98A0A</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>8. The Post Notification output lets you know that the task has been added through the Notification Center.</string>
			<key>xpos</key>
			<real>1945</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>1FE147A8-83D5-4258-9EA7-9243A9E5EA27</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>3. The List Filter input lets you select (from the options you set in this object) which to-do list to add the task to. (Following the green path)

4. Using "vtodo" keyword and selecting a list opens the specified to-do list instead. (Following the blue path as there is no "task" variable)</string>
			<key>xpos</key>
			<real>1350</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>2B5CAECF-1300-492E-A7FD-2461B864E0ED</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Action Cancelled</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>2C08611E-37B1-406A-9C9B-142B47BEE530</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>⭐ Script works with variables! Previous Week</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>472674D9-B19D-496D-8231-721689FCF5E8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>7. The Append To File output appends the to-do text (moved into a variable called "todo" in the orange object) to the appropriate list.</string>
			<key>xpos</key>
			<real>1790</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>49B9BD28-2350-4642-A08E-5DBFCBF7421A</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>5FC7E336-3000-4CFE-B2C7-F4E050909449</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Opens HC Looker URL for the last two weeks, but with a 2-second delay.</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>6713B905-EE69-4844-AD1B-70CD4C00BEF9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>⭐ Script works with variables! Previous Week</string>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>67833930-5A68-4CDC-ABD7-70F9AE7D45C3</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>5. The Arg/Var utility moves the chosen to-do list to a variable called "filename" until it's needed later.</string>
			<key>xpos</key>
			<real>1540</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>7F0DE48A-E977-4EF8-9E26-E247B7A1764D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Opens HC Looker URL for the previous month, but with a 2-second delay.</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>84546B06-77EC-4DCF-982E-675A599A329B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Capture URLs from Active Window</string>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>A4762308-6E8B-4F0D-8ADE-BB9DE5272BDB</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Yes / No</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>AD6922E6-9860-4D86-9556-930856D78720</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>6. The Conditional utility allows you to decide which path the workflow should take, based on whether the query should be appended, or the list opened.</string>
			<key>xpos</key>
			<real>1650</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>C6964A3B-0C40-4C4B-85C4-587BE6630A15</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>C8299EBA-6F55-4EB6-86FA-A7B31CF71B4B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>9. The Open File action opens the list specified in the yellow List Filter object.</string>
			<key>xpos</key>
			<real>1790</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>C97914B3-8D41-4854-A8EE-25C94A5ED0BA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Yes / No</string>
			<key>xpos</key>
			<real>715</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>D13A40B4-DD92-491B-AA37-E194E0C8ABC3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Opens HC Looker URL for the last week, but with a 2-second delay.</string>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>D308A25B-10CA-4919-8CB0-CBFC0F46A898</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>E7791453-3667-45DC-BC79-7E309E81F64B</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>URLs Captured</string>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Brave</string>
						<string>Brave Browser</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>Firefox</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the browser you wish to open links in.</string>
			<key>label</key>
			<string>Browser Selection</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>John Doe</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #3</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #4</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #5</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #6</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>hc7</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HC_7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #8</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #9</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #10</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc10</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>Connor Hipps</key>
		<string>Connor Hipps</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>Connor Hipps</string>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
