<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>HC</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>142749E1-4508-48B4-B2B4-FD002B9A4B6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>621354A5-265D-450D-A788-8AB2AE739137</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>142749E1-4508-48B4-B2B4-FD002B9A4B6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F76E536-E82E-453C-BB5C-9A9A8A626D4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Connor Hipps</string>
	<key>description</key>
	<string>An Alfred Workflow for Quick Access to HC Looker Data 📊</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Quick-Looker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F76E536-E82E-453C-BB5C-9A9A8A626D4E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Split the full name of hc1 into first and last names
first_name_hc1=$(echo "$hc1" | cut -d' ' -f1)
last_name_hc1=$(echo "$hc1" | cut -d' ' -f2)

# Check if both environment variables for hc1 are set and not empty
if [ -n "$first_name_hc1" ] &amp;&amp; [ -n "$last_name_hc1" ]; then
    # Create the URL with the appended first and last names for hc1
    url_hc1="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc1}+${last_name_hc1}"

    # Open the URL for hc1 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc1\""
else
    # Handle the case where first_name or last_name for hc1 is empty
    echo "First name or last name for hc1 is missing."
fi

# Split the full name of hc2 into first and last names
first_name_hc2=$(echo "$hc2" | cut -d' ' -f1)
last_name_hc2=$(echo "$hc2" | cut -d' ' -f2)

# Check if both environment variables for hc2 are set and not empty
if [ -n "$first_name_hc2" ] &amp;&amp; [ -n "$last_name_hc2" ]; then
    # Create the URL with the appended first and last names for hc2
    url_hc2="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc2}+${last_name_hc2}"

    # Open the URL for hc2 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc2\""
else
    # Handle the case where first_name or last_name for hc2 is empty
    echo "First name or last name for hc2 is missing."
fi

# Split the full name of hc3 into first and last names
first_name_hc3=$(echo "$hc3" | cut -d' ' -f1)
last_name_hc3=$(echo "$hc3" | cut -d' ' -f2)

# Check if both environment variables for hc3 are set and not empty
if [ -n "$first_name_hc3" ] &amp;&amp; [ -n "$last_name_hc3" ]; then
    # Create the URL with the appended first and last names for hc3
    url_hc3="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc3}+${last_name_hc3}"

    # Open the URL for hc3 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc3\""
else
    # Handle the case where first_name or last_name for hc3 is empty
    echo "First name or last name for hc3 is missing."
fi

# Split the full name of hc4 into first and last names
first_name_hc4=$(echo "$hc4" | cut -d' ' -f1)
last_name_hc4=$(echo "$hc4" | cut -d' ' -f2)

# Check if both environment variables for hc4 are set and not empty
if [ -n "$first_name_hc4" ] &amp;&amp; [ -n "$last_name_hc4" ]; then
    # Create the URL with the appended first and last names for hc4
    url_hc4="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc4}+${last_name_hc4}"

    # Open the URL for hc4 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc4\""
else
    # Handle the case where first_name or last_name for hc4 is empty
    echo "First name or last name for hc4 is missing."
fi

# Split the full name of hc5 into first and last names
first_name_hc5=$(echo "$hc5" | cut -d' ' -f1)
last_name_hc5=$(echo "$hc5" | cut -d' ' -f2)

# Check if both environment variables for hc5 are set and not empty
if [ -n "$first_name_hc5" ] &amp;&amp; [ -n "$last_name_hc5" ]; then
    # Create the URL with the appended first and last names for hc5
    url_hc5="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc5}+${last_name_hc5}"

    # Open the URL for hc5 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc5\""
else
    # Handle the case where first_name or last_name for hc5 is empty
    echo "First name or last name for hc5 is missing."
fi

# Split the full name of hc6 into first and last names
first_name_hc6=$(echo "$hc6" | cut -d' ' -f1)
last_name_hc6=$(echo "$hc6" | cut -d' ' -f2)

# Check if both environment variables for hc6 are set and not empty
if [ -n "$first_name_hc6" ] &amp;&amp; [ -n "$last_name_hc6" ]; then
    # Create the URL with the appended first and last names for hc6
    url_hc6="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc6}+${last_name_hc6}"

    # Open the URL for hc6 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc6\""
else
    # Handle the case where first_name or last_name for hc6 is empty
    echo "First name or last name for hc6 is missing."
fi

# Split the full name of hc7 into first and last names
first_name_hc7=$(echo "$hc7" | cut -d' ' -f1)
last_name_hc7=$(echo "$hc7" | cut -d' ' -f2)

# Check if both environment variables for hc7 are set and not empty
if [ -n "$first_name_hc7" ] &amp;&amp; [ -n "$last_name_hc7" ]; then
    # Create the URL with the appended first and last names for hc7
    url_hc7="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc7}+${last_name_hc7}"

    # Open the URL for hc7 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc7\""
else
    # Handle the case where first_name or last_name for hc7 is empty
    echo "First name or last name for hc7 is missing."
fi

# Split the full name of hc8 into first and last names
first_name_hc8=$(echo "$hc8" | cut -d' ' -f1)
last_name_hc8=$(echo "$hc8" | cut -d' ' -f2)

# Check if both environment variables for hc8 are set and not empty
if [ -n "$first_name_hc8" ] &amp;&amp; [ -n "$last_name_hc8" ]; then
    # Create the URL with the appended first and last names for hc8
    url_hc8="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc8}+${last_name_hc8}"

    # Open the URL for hc8 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc8\""
else
    # Handle the case where first_name or last_name for hc8 is empty
    echo "First name or last name for hc8 is missing."
fi

# Split the full name of hc9 into first and last names
first_name_hc9=$(echo "$hc9" | cut -d' ' -f1)
last_name_hc9=$(echo "$hc9" | cut -d' ' -f2)

# Check if both environment variables for hc9 are set and not empty
if [ -n "$first_name_hc9" ] &amp;&amp; [ -n "$last_name_hc9" ]; then
    # Create the URL with the appended first and last names for hc9
    url_hc9="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc9}+${last_name_hc9}"

    # Open the URL for hc9 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc9\""
else
    # Handle the case where first_name or last_name for hc9 is empty
    echo "First name or last name for hc9 is missing."
fi

# Split the full name of hc10 into first and last names
first_name_hc10=$(echo "$hc10" | cut -d' ' -f1)
last_name_hc10=$(echo "$hc10" | cut -d' ' -f2)

# Check if both environment variables for hc10 are set and not empty
if [ -n "$first_name_hc10" ] &amp;&amp; [ -n "$last_name_hc10" ]; then
    # Create the URL with the appended first and last names for hc10
    url_hc10="https://looker.a8c.com/dashboards/477?Report+Date+Start={query}&amp;Upwork+team=English+Language+Support+Team&amp;Upwork+name=${first_name_hc10}+${last_name_hc10}"

    # Open the URL for hc10 in a new tab of the specified web browser
    osascript -e "tell application \"$browser\" to open location \"$url_hc10\""
else
    # Handle the case where first_name or last_name for hc10 is empty
    echo "First name or last name for hc10 is missing."
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6713B905-EE69-4844-AD1B-70CD4C00BEF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Last Week","arg":"last+week","subtitle":"Queries the Last Week"},{"title":"Last Month 📅","arg":"last+month","subtitle":"Queries the Last Month"}]</string>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Opens All Looker Reports for HCs 📊</string>
				<key>title</key>
				<string>HC Looker Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>last+week</string>
						<key>outputlabel</key>
						<string>last+week</string>
						<key>uid</key>
						<string>621354A5-265D-450D-A788-8AB2AE739137</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>last+month</string>
						<key>outputlabel</key>
						<string>last+month</string>
						<key>uid</key>
						<string>DC591F63-D68C-4FA2-8FAA-74ABBD5B6529</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>142749E1-4508-48B4-B2B4-FD002B9A4B6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Alfred Quick-Looker 👀
## An Alfred Workflow for Quick Access to HC Looker Data 📊

### Requirements
- [Alfred 5](https://alfredapp.com/)

Alfred 5 is necessary to utilize [Workflow Configuration](https://www.alfredapp.com/help/workflows/workflow-configuration/). 

If you see this message, then you're on Alfred 5! 😊

### Features
- Browser Selection
- Easily add individuals using the [Workflow Configuration](https://www.alfredapp.com/help/workflows/workflow-configuration/).
- View Looker reports based on increments of time. 

### Roadmap
- Looker Dashboard Selection
- Group vs. Individual Selection
- Additional increments of time.</string>
	<key>uidata</key>
	<dict>
		<key>142749E1-4508-48B4-B2B4-FD002B9A4B6D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>6713B905-EE69-4844-AD1B-70CD4C00BEF9</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Opens script based on custom variables in Configure Workflow.</string>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>7AAB23BE-4C64-499D-BC1A-AE68FE6D2E31</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Select Keyword under Configure Workflow</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>8F76E536-E82E-453C-BB5C-9A9A8A626D4E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Optional Hotkey (Change as needed!)</string>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>looker</string>
				<key>placeholder</key>
				<string>Looker</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to Trigger Workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Brave</string>
						<string>Brave Browser</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Firefox</string>
						<string>Firefox</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the browser you wish to open links in.</string>
			<key>label</key>
			<string>Browser Selection</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>John Doe</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Add the first and last name of an HC to search for. Please be sure to add a space beteen the first and last name.</string>
			<key>label</key>
			<string>HC #1</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #2</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #3</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #4</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #5</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #6</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #7</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>HC_7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #8</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #9</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc9</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>HC #10</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>hc10</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/connorhipps/alfred-looker-search</string>
</dict>
</plist>
